@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: whitesmoke;
    border-left: 130px white solid;
    border-right: 130px white solid;
}

.logo {
    cursor: pointer;
    width: 175px;
    height: 75px;
    position: relative;
    right: 100px;
}

.nav__links {
    list-style: none;
    position: relative;
    display: flex;
    width: 800px;
    right: 30px;
}



.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #019cc3;
}

.prvired {
    height: 100%;
}

.active a{
    color:rgb(5, 175, 217) !important
}

/*Droplist*/

.nav__links li ul.dropdown li {
    display: block;
    width: 150px;
    padding: 10px;
}

.nav__links li ul.dropdown {
    border: 3px white solid;
    background-color: whitesmoke;
    position: absolute;
    z-index: 999;
    display: none;
}

.nav__links li:hover ul.dropdown {
    display: block;
}

.dropdown1 {
    display: none;
}
    
.nav__links ul li:hover .dropdown1 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: whitesmoke;
}


.dropdown li{
    border-top: 3px white solid;
}

.dropdown1 li {
    border-top: 3px white solid;
}

.changesize ul.dropdown1 {
    width: 160px;
}

.changesize2 ul.dropdown {
    width: 160px;
}

/*Kontakt Button*/

.cta {
    position: relative;
    right: 50px;
}

/*Generalne Butone*/

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(5, 175, 217);
}

/*Header*/
/*Main*/
/*
.img-down-nav img{
    width: 1200px;
    height: 450px;
    position: relative;
    left: 155px;
}
*/

.slideshow1 {
    width: 1200px;
}

.slideshow2 {
    width: 1200px;
}

.slideshow3 {
    width: 1200px;
}

.containerslideshow {
    width: 1200px;
    height: 450px;
    position: relative;
    left: 155px;
    overflow: hidden;
}



.wrapper {
    animation: slide 16s infinite;
    display: flex;
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translate(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translate(-200%);        
    }
    75%{
        transform: translate(-200%);
    }
    80%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(-300%);
    }
}

.containerslideshow .wrapper img {
    width: 1200px !important;
    height: 450px !important;

}

.mesectitle {
    width: 1200px;
    height: 100px;
    position: relative;
    left: 155px;
    border-bottom: 5px white solid;
    background-color: whitesmoke;
}

.mesectitle h1 {
    float: left;
    font-size: 70px;
    position: relative;
    left: 500px;
}

/*News Section */

.news-container {
    display: inline-flex;
    width: 1200px;
    position: relative;
    left: 155px;
    height: 250px;
    background-color: rgb(245, 242, 242);
}

.danskole {
    width: 600px;
    height: 250px;
}

.danskole h1{
    position: relative;
    left: 200px;
    margin-bottom: 10px;
}

.danskole img {
    height: 140px;
    width: 140px;
    float: right;
    position: relative;
    right: 20px;
    bottom: 120px;
}

.danskole p {
    font-size: 22px;
    width: 400px;
    position: relative;
    left: 10px;
}

.danskole button  {
    position: relative;
    left: 150px;
    top: 20px;
}

/*Radovi*/

.masinciprvagodina {
    width: 600px;
    border-left: 3px white solid;
}

.masinciprvagodina h1 {
    position: relative;
    left: 200px;
}

.masinciprvagodina p {
    font-size: 22px;
    width: 400px;
    position: relative;
    left: 10px;
    float: right;
    margin-top: 20px;
}

.masinciprvagodina img {
    height: 140px;
    width: 140px;
    float: left;
    margin-top: 25px;
    position: relative;
    left: 20px;
}

.masinciprvagodina button {
    position: relative;
    left: 120px;
    top: 35px;
}

/*Sportovi*/

.sportovi {
    width: 1200px;
    position: relative;
    left: 155px;
    height: 500px;
    background-color: whitesmoke;
    border-top: 10px white solid;
}
.sportovititle {
    height: 70px;
    position: relative;
    left: 300px;
    font-size: 30px;
}

.mainsportovi {
    height: 600px;
    background-color: whitesmoke;
    width: 1200px;
}

/*First Row*/

.firstrow {
    display: flex;
    height: 250px;
    width: 1200px;
}

/*Prvi Artikl*/

.prviartsport {
    width: 600px;
    height: 250px;
    border-bottom: 6px white solid;
    border-right: 3px white solid;
    border-top: 3px white solid;
}

.prviartsport img {
    height: 140px;
    width: 140px;
    position: relative;
    left: 430px;
    bottom: 43px;
}

.prviartsport h1 {
    position: relative;
    left: 175px;
}

.prviartsport p {
    position: relative;
    top: 30px;
    font-size: 18px;
    left: 5px;
}

.prviartsport button {
    position: relative;
    bottom: 35px;
}

/*Drugi Artikl*/

.drugiartsport {
    width: 600px;
    height: 250px;
    border-bottom: 6px white solid;
    border-top: 3px white solid;
    float: right;
    position: relative;
}

.drugiartsport h1 {
    position: relative;
    left: 200px;
}

.drugiartsport img {
    height: 140px;
    width: 140px;
    position: relative;
    left: 20px;
    top: 24px;
}

.drugiartsport p {
    width: 400px;
    float: right;
    font-size: 18px;
    position: relative;
    top: 20px;
}

.drugiartsport button {
    position: absolute;
    top: 190px;
    left: 255px;
}

/*Second Row*/

.secondrow {
    height: 250px;
    width: 1200px;
    display: flex;
}

/*Treci Artikl*/

.treciartsport {
    width: 600px;
    height: 250px;
    border-right: 3px white solid;
}

.treciartsport h1 {
    position: relative;
    left: 170px;
}

.treciartsport img {
    height: 140px;
    width: 140px;
    position: relative;
    left: 430px;
    bottom: 90px;
}

.treciartsport p {
    font-size: 22px;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    position: relative;
    left: 5px;
}

.treciartsport button {
    position: relative;
    bottom: 60px;
}

/*Cetvrti Artikl*/

.cetvrtiartsport {
    width: 600px;
    height: 250px;
}

.cetvrtiartsport h1 {
    position: relative;
    left: 170px;
}

.cetvrtiartsport img {
height: 140px;
    width: 140px;
    position: relative;
    left: 20px;
    top: 24px;
}


.cetvrtiartsport p {
    width: 400px;
    float: right;
    font-size: 18px;
    position: relative;
    top: 20px;
}

.cetvrtiartsport button {
    position: relative;
    left: 255px;
    top: 35px;
}

/*Main 2023*/

.main2023 {
    display: flexbox;
    width: 1200px;
    position: relative;
    left: 155px;
    top: 100px;
    background-color: whitesmoke;
}

/*Raspored Pismenih*/


/*Main 2023 Smerove*/

.main2023-smerove {
    display: flexbox;
    position: relative;
    height: 750px;
    border-top: white 10px solid;
}

.main2023-smerove h1 {
    margin: 0 auto;
    padding-left: 10px;
}

.main2023-smerove ul {
    position: relative;
    top: 50px;
}

.main2023-smerove ul li {
    padding-bottom: 100px;
    padding-left: 10px;    
}

.main2023-smerove img {
    width: 475px;
    height: 600px;
    position: relative;
    left: 670px;
    bottom: 500px;
    font-weight: 150;
    
}

.main2023-smerove p {
    padding-left: 10px;
}



/*Footer*/
footer {
    background-color: black;
    width: 100%;
    height: 400px;
    position: relative;
    top: 430px;
}

.container-footer {
    width: 100%;
    height: 100%;
    display: flex;
}

/*Smerove Footer Card*/

.smerove-footer {
    width: 400px;
    height: 100%;
    z-index: 10;
}

.smerove-footer-title {
    height: 30px;
    position: relative;
}

.smerove-footer-title h4{
    position: relative;
    top: 5px;
    left: 40px;
    color: whitesmoke;
    border-bottom: whitesmoke 6px solid;
    border-radius: 15%;
    width: 185px;
}


.smerove-footer-main-list {
    margin-top: 50px;
    position: relative;
    left: 25px;
    height: 100%;
}

.smerove-footer-main-list li {
    margin: 15px;
    color: white;
    list-style-type: none;
}

.smerove-footer-main-list li a {
    color: white;
}

.smerove-footer-main-list li a:hover {
    color: #019cc3;
    transition: all 0.3s ease 0s;
}

/*Kontakt Footer Card*/

.kontakt-footer {
    width: 400px;
    height: 100%;
    z-index: 10;
    border: 1px red solid;
    display: flexbox;
    position: relative;
    left: 665px;
}

.kontakt-footer-title {
    height: 30px;
    border: 1px green solid;
}

.kontakt-footer-title h4{
    position: relative;
    top: 5px;
    left: 40px;
    color: whitesmoke;
    border-bottom: whitesmoke 6px solid;
    border-radius: 15%;
    width: 185px;
}

.kontakt-footer-main {

}

.kontakt-footer-main-text-align {
    display: flex;
}

.kontakt-footer-main-text-align h5{
    color: whitesmoke;
    
}