@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: whitesmoke;
    border-left: 130px white solid;
    border-right: 80px white solid;
}

.logo {
    cursor: pointer;
    width: 175px;
    height: 75px;
    position: relative;
    right: 100px;
}

.nav__links {
    list-style: none;
    position: relative;
    right: 50px;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #019cc3;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(5, 175, 217);
}

/*Header*/
/*Main*/

.img-down-nav img{
    width: 1200px;
    height: 450px;
    position: relative;
    left: 155px;
}

.mesectitle {
    width: 1200px;
    height: 100px;
    position: relative;
    left: 155px;
    border-bottom: 5px white solid;
    background-color: whitesmoke;
}

.mesectitle h1 {
    float: left;
    font-size: 70px;
    position: relative;
    left: 500px;
}

/*News Section */

.news-container {
    display: inline-flex;
    width: 1200px;
    position: relative;
    left: 155px;
    height: 250px;
    background-color: rgb(245, 242, 242);
}

.sportovi {
    width: 1200px;
    position: relative;
    left: 155px;
    height: 500px;
    background-color: whitesmoke;
}
.sportovititle {
    height: 70px;
    position: relative;
    left: 375px;
    font-size: 30px;
}

.mainsportovi {
    height: 500px;
}

.prviartsport {
    width: 600px;
    height: 250px;
    border-bottom: 3px white solid;
    border-right: 3px white solid;
    border-top: 3px white solid;
}

.prviartsport img {
    height: 140px;
    width: 140px;
    position: relative;
    left: 430px;
    bottom: 60px;
}

.prviartsport h1 {
    position: relative;
    left: 175px;
}

.prviartsport p {
    position: relative;
    top: 30px;
    font-size: 22px;
    left: 5px;
}

.prviartsport button {
    position: relative;
    bottom: 40px;
}

.drugiartsport {
    width: 600px;
    height: 250px;
    border-bottom: 3px white solid;
    border-top: 3px white solid;
    float: right;
    position: relative;
    bottom: 250px;
}

.drugiartsport h1 {
    position: relative;
    left: 170px;
}

.drugiartsport img {
    height: 140px;
    width: 140px;
    position: relative;
    left: 20px;
    top: 24px;
}

.drugiartsport p {
    width: 400px;
    float: right;
    font-size: 22px;
    position: relative;
    top: 20px;
}

.drugiartsport button {
    position: relative;
    top: 20px;
    left: 255px;
}
/*Main 2023*/

.main2023 {
    display: flexbox;
    width: 1200px;
    position: relative;
    left: 155px;
    top: 20px;
    background-color: whitesmoke;
}

/*Raspored Pismenih*/
.raspored-pismenih2023 {
    background-color: whitesmoke;
    display: inline-flex;
    width: 1200px;
    position: relative;;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
    bottom: 10px;
    border-bottom: 10px white solid;

}

.raspored-pismenih2023 h1 {
    position: relative;
    bottom: 25px;
}

.button1 {
    margin-right: 50px;
    position: relative;
    bottom: 20px;
}

/*Main 2023 Smerove*/

.main2023-smerove {
    display: flexbox;
    position: relative;
    height: 750px;
}

.main2023-smerove h1 {
    margin: 0 auto;
    padding-left: 10px;
}

.main2023-smerove ul {
    position: relative;
    top: 50px;
}

.main2023-smerove ul li {
    padding-bottom: 100px;
    padding-left: 10px;    
}

.main2023-smerove img {
    width: 475px;
    height: 600px;
    position: relative;
    left: 670px;
    bottom: 500px;
    font-weight: 150;
    
}

.main2023-smerove p {
    padding-left: 10px;
}




footer {
    background-color: rgb(43, 42, 42);
    width: 100%;
    height: 150px;
    position: relative;
    top: 430px;
}